body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    height: 400px;
    width: 400px;
}

.column {
    display: flex;
    flex-direction: column;
}
.row,
.column,
.row.mine {
    flex: 1;
}

.row.mine {
    font-weight: 800;
}