body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#container {
    display: flex;
    height: 600px;
    width:600px;
}

.column {
    display: flex;
    flex-direction: column;
}
.row,
.column {
    flex: 1;
    /* font-size: 60%; */
    font-weight: 600;
    padding: 0;
}


#lost,
#win {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 200px;
    border: solid;
    border-radius: 15px;
    background: white;
    font-size: xx-large;
    font-weight: 800;
    font-family: monospace;
}